<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title th:text="${title}">tab title</title>
	</head>
	<body th:object="${userForm}">
			<h1 th:text="${title}">h1 title</h1>
			<h2 th:text="${userForm.name}"></h2>
			<table>
				<thead>
					<tr>
						<th>name</th>
						<th>email</th>
						<th>contents</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="*{name}"></td>
						<td th:text="*{email}"></td>
						<td th:text="*{contents}"></td>
					</tr>
				</tbody>
			</table>
			<form method="post" action="#" th:action="@{/form/input}">
				<input type="hidden" name="name" th:value="${userForm.name}">
				<input type="hidden" name="email" th:value="*{email}">
				<input type="hidden" name="contents" th:value="*{contents}">
				<input type="submit" value="Go Back">
			</form>
			<form method="post" cation="#" th:action="@{/form/complete}">
				<input type="hidden" name="name" th:value="*{name}">
				<input type="hidden" name="email" th:value="*{email}">
				<input type="hidden" name="contents" th:value="*{contents}">
				<input type="submit" value="Complete">
			</form>
	</body>
</html>